.home-image {
    /* background: url("https://cdn.pixabay.com/photo/2016/11/29/13/17/breakfast-1869772_1280.jpg"); */
    background: url("https://cdn.pixabay.com/photo/2015/11/19/21/11/knowledge-1052011__480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: 0 3000px rgba(0, 0, 0, 0.4) inset;
}
.col-md-6 {
    padding-right:0;
    padding-left:0;
}
a {
    color: white;
}
p {
    text-shadow: 1px 1px black;
}
.save {
    background: lightgoldenrodyellow;
}